# Build files

.directory
*~
*.aux
*.bak
*.csv
*.db
*.log
*.o
*.orig
*.out
*.pdf
*.png
*.swp
*.txt
*.#*


# Executables

diffusion
spinodal
ripening

# Documentation Output

_build
html
latex
rst
xml
